

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   General
   ========================================================================== */

*{
	font-family: "Alright";
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

.right{
	text-align: right;
	float: right;
	display: block;
}

.left{
	text-align: left;
	float: left;
	display: block;
}

.fill{
	width: 100% !important;
}

#fullscreen-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
}

#page-container{
	z-index: 100;
	position: relative;
	background-color: white;
	margin-top: 700px;
	height: 3600px;
}

@font-face {
    font-family: "Alright-Bold";
    src: url("../fonts/AlrightSans-Medium.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Alright-Thin";
    src: url("../fonts/AlrightSans-Thin.woff") format('woff');
    font-weight: thin;
}

@font-face {
    font-family: "Alright";
    src: url("../fonts/AlrightSans-Regular.woff") format('woff');
    font-weight: normal;
}

.thin{
	font-family: "Alright-Thin";
}

.bold{
	font-family: "Alright-Bold";
}

/* ==========================================================================
   Navbar
   ========================================================================== */

#main-nav{
	background-color: #fff;
	background-image: none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	z-index: 1001;
	border-radius: 0px !important;
}

#main-nav.isStuck{
	width: 100%;
}

#main-nav .navbar-nav > li > a{
	color: #808284;
	border-bottom: 2px solid #fff;
}

#main-nav .navbar-nav > li > a:hover{
	border-bottom: 2px solid #808284;
}

#main-nav .navbar-nav > li.active > a{
	border-bottom: 2px solid #808284;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
}

#main-nav .navbar-nav > li{
	padding-right: 40px;
}

#main-nav .navbar-nav > li:last-child{
	padding-right: 0px;
}

#logo-nav{
	width: 250px;
	padding-top: 3px;
}

/* ==========================================================================
   Intro
   ========================================================================== */
#foto-intro{
	background-image: url(../img/home-1.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	color: #fff;
}

#container-quienes{
}

#titulo-quienes h1{
	font-size: 55px;
}

#texto-quienes{
	color: #808284;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 20px;
	text-align: left;
}

#texto-quienes p{
	font-size: 20px;
}


/* ==========================================================================
   Marcas
   ========================================================================== */
#marcas{
}

.marca{
	margin-bottom: 30px;
	height: 300px;
}

#marcas .container .row{
	color: #808284;
	margin-top: 60px;
}

.foto-marca{
	width: 100%;
	height: 100%;
}

.titulo-marca{
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 10px;
	padding-bottom: 10px;
}

.titulo-marca h2{
	margin-left: 15px;
	font-size: 36px;
}

.texto-marca{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	display: block;
	height: 100%;
}

.texto-marca p{
	font-size: 15px;
}

.texto-marca a{
	text-align: right;
}

/* ==========================================================================
   Proyectos
   ========================================================================== */
#proyectos .container{
	margin-top: 60px;
}

#proyectos-nav li a{
	color: #808284;
	background-color: #fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1200px){

	#main-nav .navbar-nav > li{
		padding-right: 30px;
	}

}


@media only screen and (max-width: 992px){

	#main-nav .navbar-nav > li{
		padding-right: 0px;
	}

	#logo-nav{
		width: 200px;
		padding-top: 7px;
	}

	#main-nav .navbar-nav > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}

	#main-nav .navbar-nav > li.active > a,
	#main-nav .navbar-nav > li > a:hover{
		border-bottom: 3px solid #fff;
	}

	.marca{
		height: 350px;
	}

}




