

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   General
   ========================================================================== */

*{
	font-family: "Alright";
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

.right{
	text-align: right;
	float: right;
	display: block;
}

.left{
	text-align: left;
	float: left;
	display: block;
}

.fill{
	width: 100% !important;
}

#fullscreen-background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
}

#page-container{
	z-index: 100;
	position: relative;
	background-color: white;
	margin-top: 700px;
}

@font-face {
    font-family: "Alright-Bold";
    src: url("../fonts/AlrightSans-Medium.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Alright-Thin";
    src: url("../fonts/AlrightSans-Thin.woff") format('woff');
    font-weight: thin;
}

@font-face {
    font-family: "Alright";
    src: url("../fonts/AlrightSans-Regular.woff") format('woff');
    font-weight: normal;
}

.thin{
	font-family: "Alright-Thin";
}

.bold{
	font-family: "Alright-Bold";
}

/* ==========================================================================
   Splash
   ========================================================================== */
#logo-intro img{
	width: 400px;
}

#logo-intro{
	margin-top: 50px;
}

#entrar{
	width: 100%;
	color: #808284;
	margin-top: 30px;
}

#entrar a{
	color: #808284;
}

/* ==========================================================================
   Navbar
   ========================================================================== */

#main-nav{
	background-color: #fff;
	background-image: none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	z-index: 1001;
	border-radius: 0px !important;
}

#main-nav.isStuck{
	width: 100%;
}

#main-nav .navbar-nav > li > a{
	color: #808284;
	border-bottom: 2px solid #fff;
}

#main-nav .navbar-nav > li > a:hover{
	border-bottom: 2px solid #808284;
}

#main-nav .navbar-nav > li.active > a{
	border-bottom: 2px solid #808284;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
}

#main-nav .navbar-nav > li{
	padding-right: 40px;
}

#main-nav .navbar-nav > li:last-child{
	padding-right: 0px;
}

#logo-nav{
	width: 250px;
	padding-top: 3px;
}

.affix{
	position: fixed;
	top: 0;
	width: 100%;
}

/* ==========================================================================
   Intro
   ========================================================================== */
#foto-intro{
	background-image: url(../img/home-1.jpg);
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 100%;
	color: #fff;
}

#container-quienes{
}

#titulo-quienes h1{
	font-size: 55px;
}

#texto-quienes{
	color: #808284;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 20px;
	text-align: left;
}

#texto-quienes p{
	font-size: 20px;
}


/* ==========================================================================
   Marcas
   ========================================================================== */
#marcas{
}

.marca{
	margin-bottom: 30px;
	height: 350px;
}

#marcas .container .row{
	color: #808284;
	margin-top: 30px;
}

.foto-marca{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}

.titulo-marca{
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 10px;
	padding-bottom: 10px;
}

.titulo-marca h2{
	margin-left: 15px;
	font-size: 36px;
}

.texto-marca{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	display: block;
	height: 100%;
}

.texto-marca p{
	font-size: 15px;
}

.texto-marca a{
	text-align: right;
}

/* ==========================================================================
   Proyectos
   ========================================================================== */
#proyectos{
	color: #fff;
	background-color: #eee;
}


#proyectos .container .row{
}

#proyectos-nav{
	padding-bottom: 10px;
	padding-top: 10px;
}

#proyectos-nav li a{
	color: #808284;
	background-color: #eee;
	border-bottom: 2px solid #eee;
	border-radius: 0px;
}

#proyectos-nav li{
	padding-left: 55px;
	padding-right: 55px;
}

#proyectos-nav li a:hover{
	color: #808284;
	background-color: #eee;
	border-bottom: 2px solid #808284;
}

#proyectos-nav li.active a{
	border-bottom: 2px solid #808284;
}

.proyecto{
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.container-proyecto .row{
	margin-top: 10px !important;
}

.titulo-proyecto{
	font-size: 55px;
}

.texto-proyecto{
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 20px;
	text-align: left;
}

.proyecto-individual {
	padding: 0px 10px 10px 0px;
}



.nombre-proyecto {
	background-position: center center;
	background-size: cover;
}

.nombre-proyecto p{
	font-size: 20px;
	text-decoration: none;
	color:#808284;
	text-align: center;
	background-color: rgba(255, 255, 255,0.8);

}

.nombre-proyecto:hover {

	
	
}

.container-proyecto-p {
	
	padding: 100px 30px 100px 30px;
	margin-bottom: 0px;

}

.foto-proyecto{
	width: 100%;
	height: 800px;
	background-position: center center;
	background-size: cover;
}

.desc-proyecto-container{
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-top: 550px;

}

.titulo-detalle-proyecto p{
	font-size: 36px;
	font-family: "Alright-Thin" !important;
	padding-top: 20px;
	padding-left: 10px;
}

.desc-proyecto-container a{
	color: white !important;
	text-decoration: underline;


}

.texto-desc-detalle{
	
	font-family: "Alright-Thin" !important;
	padding-left: 10px;
}

.foto-proyecto {
	padding-right: 0px;
}



/* ==========================================================================
   Contacto
   ========================================================================== */
#contacto{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #808284;
}

#foto-contacto{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-image: url(../img/home-1.jpg)
}

#contacto-form{
	margin-top: 20px;
}

#contacto a{
	color: #808284;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1200px){

	#main-nav .navbar-nav > li{
		padding-right: 30px;
	}

}


@media only screen and (max-width: 992px){

	#main-nav .navbar-nav > li{
		padding-right: 0px;
	}

	#logo-nav{
		width: 200px;
		padding-top: 7px;
	}

	#entrar{
		margin-top: 0px;
	}

	#entrar h3{
		margin-top: 10px;
		margin-bottom: 5px;
	}

	#main-nav .navbar-nav > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}

	#main-nav .navbar-nav > li.active > a,
	#main-nav .navbar-nav > li > a:hover,
	#main-nav .navbar-nav > li > a{
		border-bottom: 3px solid #fff;
	}

	.marca{
		height: 350px;
	}

}

@media only screen and (max-width: 768px){
	#logo-intro img{
		width: 250px;
	}

	.marca{
		height: 400px;
	}

	.texto-marca p{
		font-size: 13px;
	}
}







